.nameContainer{
    color: #F7F4F3;
    width: 300px;
    height: 36px;
    background-color: #BA1B1D;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logoName{
    font-size: 28px;
}

@media only screen and (max-width: 480px){
    .nameContainer{
        width: 210px;
        height: 30px;
    }
    .logoName{
        font-size: 20px;
    }
}

@media only screen and (min-height: 1000px) and (min-width: 1900px){
    .nameContainer{
        width: 400px;
        height: 48px;
    }
    .logoName{
        font-size: 36px;
    }
}