.projectsRow{
    overflow: hidden;
}

.projectsRowInner{
    max-width: calc((100vw - 200px)*0.8);
    display: flex;
    align-items: center;
    gap: 25px;
    white-space: nowrap;
    cursor: grab;
}

.seeMore{
    margin-left: -25px; padding: 0;
    padding-bottom: 20px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

/* @media only screen and (max-width: 1366px){
    .projectsRow{
        width: 960px;
    }
} */
@media only screen and (min-width: 902px){
    .projectsRowInner{
        max-width: 65vw;
    }
}

