.navbar{
    height: 80px; width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0; 
    right: 0; left: 0;
    z-index: 10;
    background-color: #080F0F;
}

.nav-container{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}