.navbar{
    height: 80px; width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; 
    right: 0; left: 0;
    z-index: 10;
    background-color: #080F0F;
}

.nav{
    width: 85vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .nav-open{
    width: 85vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-closed{
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
} */

@media only screen and (max-width: 740px){
    .nav{
        width: 75vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}

@media only screen and (max-width: 480px){
    .navbar{
        height: 60px;
    }
}

@media only screen and (min-height: 720px) and (min-width: 1500px){
    .navbar{
        height: 140px;
    }
}
