.introContent{
    position: absolute;
    bottom: 0;
    width: 100%; height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 7.5%;
    align-items: center;
    color: #F7F4F3;
}

.introName{
    font-size: 60px;
    margin: 15px auto;
    text-align: center;
}
.introRole{
    margin: 0;
    width: 60%;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

@media only screen and (max-height: 768px){
    .introContent {
        position: absolute;
        bottom: 0;
        height: 615px;
    }
}